p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05;
  margin-left: auto;
  margin-right: auto;
  font-weight: normal;
}

/*this selector is targeting the home button with Pavel Darii name on it */
a span {
  padding: 10px;
  background-color: #69bdd2;
  color: white;
}

/* the purpose of this selector is to make home button react on hover of the mouse*/
a span:hover {
  zoom: 1.01;
}

/*genereal parameters for all containers*/
.container {
  background-color: white;
  padding-bottom: 20px;
  margin-bottom: 110px;
  margin-top: 60px;
  top: 40px;
}

/*genereal parameters for footer*/
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #69bdd2;
  color: #cce6e8;
  padding-top: 15px;
  padding-bottom: 0;
}

/*the target of h1 is the name of all main contents*/
h1 {
  color: #69bdd2;
}

body {
  background-image: url(https://image.freepik.com/free-vector/colorful-ditsy-floral-print-background_52683-30962.jpg);
}

nav {
  padding: 20px;
  margin-bottom: 50px;
}

.index img {
  float: left;
  margin-right: 20px;
}

/*portfolio page padding for img to keep them separated on top and bottom*/
.portfolio img {
  padding-top: 20px;
}

.contact button {
  padding: 20px;
  background-color: #69bdd2;
  color: white;
  border: 0px;
}

/* bellow is defined how container properties will react on different width of the screen*/
@media screen and (min-width: 399px) {
  .container {
    width: 94%;
  }
}

@media screen and (min-width: 510px) and (max-width: 992px) {
  .container {
    width: 550px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 740px;
  }
}
