p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05;
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
    
}

a span{
    padding:10px;
    background-color: #69bdd2 ;
    color: white;
}
a span:hover{
    zoom: 1.01;
}

.nav-item{
    color:#69bdd2; 
}

.container{
    
    background-color:white;
    margin-bottom: 110px;
    margin-top: 60px;
}

footer{
    
    position: fixed;
    bottom: 0;
    width:100%;
    text-align: center;
    background-color: #69bdd2;
    color:#cce6e8 ;
    padding-top:15px;
    padding-bottom: 0;
}

h1 {
    color:#69bdd2;
}
body {
    background-image:url(//www.html.am/images/backgrounds/background-image-2.gif); 

}
button{
    background-color: #69bdd2 ;
    padding:20px;
    border:none;
    color: white;
}



nav{
    padding:20px;
    margin-bottom: 50px;
}

.portfoliop img {
    padding-bottom: 10px;
    padding-top: 10px;
}
 

.index div.col-12 img{
    float:left;
    margin-right: 20px;
   
}
 a span{
    padding:10px;
    background-color: #69bdd2 ;
    color: white;
}


.portfolio img {
    margin-top: 20px;
}

.portfolio img:hover{
    zoom: 1.02;
}